* {
    text-align: center;
    margin: 0;
    font-family: 'Chivo Mono', 'monospace';
    font-weight: 400;

    line-height: 3vh;   
    font-size: 2vh;
}

img.photo {
    display: block;
    margin: auto;
    border-radius: 50%;   
    border: 0.5vh solid;

    margin-top: 8vh;
    width: 20vh;
}

.name {
    margin-top: 5vh;
    font-weight: 600;
    
    font-size: 5.5vh;
}

.title {
    color: rgb(67, 67, 67);
    font-style: italic;

    margin-top: 1.5vh;
    font-size: 2.75vh;
}

.contact-info {
    margin: 3.5vh;
}

.about-me {
    margin-right: 22vw;
    margin-left: 22vw;
}

.links {
    position: absolute;
    left: 1vh;
    right: 1vh;
    bottom: 3.5vh;
}

.github {
    display: inline;
    margin-right: 2vh;
}
.linkedin {
    display: inline;
}

.resume {
    display: inline;
    margin-left: 2vh;
}

a:link,
a:visited {
    color: rgb(35, 65, 218);
    transition: 0.15s;
}

a:hover {
    color: rgb(37, 117, 221);
}


/* ipad */
@media (max-aspect-ratio: 3/4) {

    * {
        line-height: 3vh;   
        font-size: 2vh;
    }

    img.photo {
        margin-top: 8vh;
        width: 20vh;
    }

    .about-me {
        margin-right: 15vw;
        margin-left: 15vw;
    }
    
    .links {
        bottom: 3vh;
    }
}

/* mobile */
@media (max-aspect-ratio: 9/16) {
    
    * {
        font-size: 3.5vw;
        line-height: 6vw;
    }

    img.photo {
        margin-top: 12vw;
        width: 35vw;
    }
    
    .name {
        font-size: 9vw;
    }
    
    .title {
        margin-top: 1.75vw;
        font-size: 4.475vw;
    }
    
    .contact-info {
        margin: 6vw;
    }
    
    .about-me {
        margin-right: 15vw;
        margin-left: 15vw;
    }
    
    .links {
        bottom: 4vw;
    }
}

/* darkmode */
@media (prefers-color-scheme: dark) {
    body {
        background-color: rgb(27, 27, 27);
        color: rgb(228, 228, 228);
    }

    img.photo {
        border-color: rgb(206, 206, 206);
    }

    .title {
        color: rgb(172, 172, 172);
    }

    a:link,
    a:visited {
        color: rgb(70, 144, 255);
    }

    a:hover {
        color: rgb(114, 171, 255);
    }
}