/* default */
* {
    text-align: center;
    margin: 0;
    font-family: 'Chivo Mono', 'monospace';
    font-weight: 400;

    line-height: 3vh;   
    font-size: 2vh;
}

::selection {
    background-color: rgba(180, 213, 254, 0.5);
}

.rickroll {
    display: block;
    margin: auto;
    margin-top: 6vh;
}
.main-photo {
    border-radius: 50%;   
    border: 0.5vh solid;
    border-color: black;
    width: 15vh;
}
.main-photo:hover {
    box-shadow: 0 0 4px rgb(35, 65, 218);
}

.name {
    margin-top: 4vh;
    font-weight: 600;
    
    font-size: 3vh;
}

.title {
    color: rgb(67, 67, 67);
    font-style: italic;

    margin-top: -0.25vh;
    font-size: 1.75vh;
}

.contact-info {
    margin: 2vh;
}

.about-me {
    margin-right: 15vw;
    margin-left: 15vw;
}

.links {
    position: absolute;
    left: 1vh;
    right: 1vh;
    bottom: 3.5vh;
}

.github {
    display: inline;
    margin-right: 2vh;
}

.linkedin {
    display: inline;
}

.resume {
    display: inline;
    margin-left: 2vh;
}

a:link,
a:visited {
    color: rgb(35, 65, 218);
    transition: 0.15s;
}

a:hover {
    color: rgb(37, 117, 221);
}

/* darkmode */
@media (prefers-color-scheme: dark) {

    body {
        background-color: rgb(27, 27, 27);
        color: rgb(228, 228, 228);
    }

    .main-photo {
        border-color: rgb(206, 206, 206);
    }
    .main-photo:hover {
        box-shadow: 0 0 8px rgb(114, 171, 255);
    }

    .title {
        color: rgb(172, 172, 172);
    }

    a:link,
    a:visited {
        color: rgb(70, 144, 255);
    }

    a:hover {
        color: rgb(114, 171, 255);
    }

    ::selection {
        background-color: rgba(101, 170, 255, 0.35);
    }
}

/* ipad */
@media (max-aspect-ratio: 3/4) {

    * {
        line-height: 3vh;   
        font-size: 2vh;
    }

    .about-me {
        margin-right: 15vw;
        margin-left: 15vw;
    }
    
    .links {
        bottom: 3vh;
    }
}

/* mobile */
@media (max-aspect-ratio: 9/16) {

    * {
        font-size: 3.5vw;
        line-height: 6vw;
    }

    .rickroll {
        margin-top: 10vw;
    }
    .main-photo {
        width: 35vw;
    }
    .main-photo:hover {
        box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    }
    
    .name {
        margin-top: 6vw;
        font-size: 8vw;
    }
    
    .title {
        margin-top: 0vw;
        font-size: 4vw;
    }
    
    .contact-info {
        margin: 6vw;
    }
    
    .about-me {
        margin-right: 5vw;
        margin-left: 5vw;
    }
    
    .links {
        bottom: 3vw;
    }
}
