@import "../../scss/base.scss";

.titleContainer {
  color: white;
  min-height: 100vh;
  font-weight: 700;
  font-size: 80px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  line-height: 115%;
  padding-left: 30px;
  padding-right: 30px;
}

// tablet
@media screen and (min-width: $tablet-min-width) and (max-width: #{$desktop-min-width - 1px}){
}

// desktop
@media screen and (min-width: $desktop-min-width) {
  .titleContainer {
    font-size: 150px;
  }
}
